#commentform{
	float: none;
}
.comments #commentform{
	width:100%;
	margin: 10px 0px;
}
.comments-title{
	margin-bottom: 70px;
}
.comment-reply-title{
	margin: 70px 0px 20px 0px;
}
.comment .media-heading, .comment .comment-meta{
	display: inline-block;
}
.comment .comment-meta a{
	color: #777777;
	font-weight: 400;
}
.comment-notes{
	text-align: center;
	color: #AAAAAA;
}
#cancel-comment-reply-link{
	font-size: 12px;
	color: $purple-500;
}
.pingback .avatar{
	display: none;
}
.no-comments{
	text-align: center;
	margin-bottom: 20px;
}
.comment-form{
	margin-bottom: 70px;
}
.comment-reply-link.btn.btn-primary.btn-simple.pull-right{
	color: $grey;
}
#cancel-comment-reply-link{
	color: $red;
}
/***post author comment hightlight***/
.bypostauthor {
    border-top: 5px solid #ccc;
    padding: 25px 0px 0px 10px;
    background: #f1f1f1;
    margin-bottom: 25px;
}
#wp-comment-cookies-consent{
	margin-right: 10px;
}