/** styles the_posts_navigation **/
.recent-posts-pagination{
	padding: 0px 0px 50px 0px;
}
.recent-posts-pagination .page-numbers {
    display: inline-block;
    padding-left: 0;
    margin: 0px;
    border-radius: 4px;
}
.recent-posts-pagination .page-numbers{
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    margin-left: 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: $grey;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}
.recent-posts-pagination .page-numbers:hover{
    z-index: 2;
    color: $grey;
    background-color: $grey-200;
    border-color: #dddddd;
}
.page-numbers.current, .page-numbers.current:focus, .page-numbers.current:hover, .page-numbers.current:focus {
    background-color: $cyan-500;
    border-color: $cyan-500;
    box-shadow: 0 4px 5px 0 rgba(0, 188, 212, 0.14), 0 1px 10px 0 rgba(0, 188, 212, 0.12), 0 2px 4px -1px rgba(0, 188, 212, 0.2);
    color:$white;
}
.comments-pagination{
	text-align: center;
}
.comments-pagination a, .comments-pagination span{
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 7px 11px;
    margin: 0 3px;
    margin-left: 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: $grey;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}
.comments-pagination a:hover, .comments-pagination span:hover {
    z-index: 2;
    color: $grey;
    background-color: $grey-200;
    border-color: #dddddd;
}
.comments-pagination .current, .comments-pagination .current:focus, .comments-pagination .current:hover, .comments-pagination .current:focus {
    background-color: $cyan-500;
    border-color: $cyan-500;
    box-shadow: 0 4px 5px 0 rgba(0, 188, 212, 0.14), 0 1px 10px 0 rgba(0, 188, 212, 0.12), 0 2px 4px -1px rgba(0, 188, 212, 0.2);
    color:$white;
}
.cinder_link_pages{
	text-align: center;
}
.cinder_link_pages .text{
	display: inline-block;
	color: #9e9e9e;
	font-size: 12px;
	padding: 0px 11px;
	margin: 0 3px;
}
.cinder_link_pages .page-numbers{
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 7px 11px;
    margin: 0 3px;
    margin-left: 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background-color: $cyan-500;
    border-color: $cyan-500;
    box-shadow: 0 4px 5px 0 rgba(0, 188, 212, 0.14), 0 1px 10px 0 rgba(0, 188, 212, 0.12), 0 2px 4px -1px rgba(0, 188, 212, 0.2);
    color:$white;    
}
.cinder_link_pages a .page-numbers{
	color: $grey;
	box-shadow:none;
	background: $white;
}
.cinder_link_pages a .page-numbers:hover{
    z-index: 2;
    color: $grey;
    background-color: $grey-200;
    border-color: #dddddd;
}



